---
import Section from "../Section.astro";
import { basics as basicsData } from "@cv";
import type { Basics } from "@/data/cv";
const basics = basicsData as Basics;
const { summary } = basics;
---

<Section title="About Me">
  {
    summary &&
      summary.split("\n").map((paragraph) => (
        <p>
          {paragraph}
          <br />
        </p>
      ))
  }
</Section>

<style>
  p {
    margin-bottom: 1em;
  }
</style>
